.App {
  text-align: center;
  background-color: #0C2340;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#logoImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

body {
  color: #8892B0;
}

/* Nav Styling */

.nav-bar-size {
  padding: 20px 5%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
}

.nav-logo p {
  display: flex;
  align-items: center;
}

.nav-list {
  margin: 0;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  padding: 10px 20px;
  font-weight: bold;
  color: #8892B0;
  text-decoration: none;
}

.nav-list li a:hover, .nav-list-mobile li a:hover {
  color: #09d3ac;
}

.nav-list li:last-child a {
  color: #09d3ac;
  background-color: #0D2340;
  border: 0.5px solid #09d3ac;
  border-radius: 5px;
}

.mobile-nav {
  display: none;
}

.nav-container-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

@media (max-width: 1000px) {
  .nav-container {
      display: none
  }

  .mobile-nav {
      display: contents;
  }

  .nav-list-mobile {
      display: none;
      list-style: none;
      text-align: center;
      padding-inline-start: 0px;
      margin-top: 15px;
  }

  .nav-list-mobile li a{
      display: block;
      background-color: #0D2340;
      color: #8892B0;
      border-bottom: 0.5px solid #09d3ac;
      text-decoration: none;
      padding: 5px 0;
      font-weight: bold;
  }

  /* .nav-list-mobile li:last-child a {
      background-color: #ffffff;
      color: #000000;
      border: 0.5px solid #ffffff;
  } */

  .nav-bar-size {
      padding: 20px 0px;
  }

  .nav-container-mobile {
      padding: 5px 8%;
  }

}

/* End of Nav Styling */

/* Footer */
footer {
  background-color: #222222;
}

footer ul {
  margin: 0;
  color: #ffffff;
  padding: 20px 100px;
  font-size: 40px;
  text-align: center;
}

footer li {
display: inline-block;
padding: 8px 54px;
text-align: center;
}

@media (max-width: 1000px) {
  footer ul {
      padding: 20px 60px;
  }

  footer li {
      padding: 8px 12px;
    }
}

/* End of Footer */

/* Top */
.page-top {
  margin: 125px 0px 48px 0px;
  color: #8892B0;
}

.home-blurb, .about-me, .experience, .projects {
  width: 75%;
  padding: 48px 0px;
  text-align: left;
  margin: 0 auto;
}

h3 {
  padding-bottom: 32px;
}

.home-blurb h1 {
  font-size: 5rem;
}

.home-blurb p {
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .page-top {
    margin-top: 75px;
  }
  
  .home-blurb p {
    font-size: 1rem;
  }
}

/* AboutMe */
.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about-text {
  width: 50%;
  color: #8892B0;
}

.about-me ul, .experience ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.about-me li, .experience li {
  padding-left: 1em;
  text-indent: -1em;
}

.about-me li:before, .experience li:before {
  content: "▹";
  padding-right: 5px;
  color: #09d3ac;
}

#tech-list {
  display: flex;
}

h1 {
  color: #ffffff;
}

#work-history-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .about-me {
    display: block;
  }

  .home-blurb, .about-me, .experience, .projects {
    width: 75%;
    padding: 48px 0px;
    text-align: left;
    margin: 0 auto;
  }
  
  #about-text {
    width: 100%;
    color: #8892B0;
  }
  
  #my-name {
    font-size: 4rem !important;
  }

  h1 {
    font-size: 3rem !important;
  }
}

/* end of AboutMe */

/* Experience */
#work-history-desktop, h3 {
  /* width: 60%; */
  /* display: flex; */
  color: #8892B0;
  text-align: left;
}

#job-info {
  margin-left: 56px;
  text-align: left;
}

.nav-link {
  color: #8892B0;
  background-color: none !important;
}

.nav-link.active {
  color: #09d3ac;
  border-left: 0.5px solid #09d3ac;
  border-radius: 0;
  background-color: none !important;
}

.nav-tabs {
  border-bottom: 1px solid #09d3ac;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #09d3ac;
  background-color: #0D2340;
  border-color: #09d3ac;
}

.nav-link {
  color: #8892B0;
}

#about-img {
  width: 30%;
}

#about-img img {
  width: 100%;
  border-radius: 25px;
}

@media (max-width: 1000px) {
  #work-history-desktop {
    display: none;
  }

  #work-history-mobile {
    display: contents;
  }

  #job-info {
    margin-top: 16px;
    margin-left: 0px;
  }

  .nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  #about-img img {
    width: 75%;
    text-align: center;
  }

  #about-img {
    width: 100%;
    margin-top: 12px;
    text-align: center;
  }
  
}

/* end of experience */

/* projects */
.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#project-item {
  margin: 12px;
  width: 245px;
  height: 350px;
  color: #8892B0;
  border: 0.5px solid #09d3ac;
  border-radius: 5px;
}

.react-card-flip {
  /* width: 18rem;
  height: 350px; */
  border: 0.5px solid #09d3ac;
  border-radius: 5px;
}

.react-card-flipper {
  margin: 0;
}

.project-info {
  width: 245px;
  height: 350px;
  color: #8892B0;
}

.project-info ul {
  list-style-type: none;
  padding: 16px 0;
  width: 85%;
  margin: 0 auto;
  text-align: left;
}

.project-info h3 {
  padding: 16px;
  word-wrap: break-word;
  color: #09d3ac;
}

.project-buttons {
  padding: 8px 24px;
  border: 0.5px solid #09d3ac;
  background-color: #0D2340;
  border-radius: 5px;
}

#hamburger {
  background-color: #0D2340;
  border: none;
}

.links {
  text-decoration: none;
  color: #09d3ac;
}
/* end of projects */

h3 {
  color: white;
}

::-webkit-scrollbar {
  background: none;
  height: 0px;
}

.titles:after {
  background-color: #8892B0;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  /* margin-left: 12px; */
}

.titles:after {
  background-color: #8892B0;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  /* margin-left: 12px; */
}

.titles:after {
  left: 0.5em;
  margin-right: -50%;
 }

 .titles-other:after {
  background-color: #8892B0;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 75%;
  /* margin-left: 12px; */
}

.titles-other:after {
  left: 0.5em;
  margin-right: -50%;
 }

 @media (max-width: 1000px) {
  .titles-other:after {
    background-color: #8892B0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
    /* margin-left: 12px; */
  }
  
  .titles-other:after {
    left: 0.5em;
    margin-right: -50px;
   }
 }

 .icon-bar a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  background-color: none;
  color: #8892B0;
  font-size: 20px;
}

 @media (min-width: 1000px) {
  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
  .icon-bar {
    position: fixed;
    top: 90%;
    -webkit-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-60%);
    margin-left: 32px;
  }

  /* Style the icon bar links */

  .icon-bar:after {
    content: "";
    display: block;
    width: 1px;
    height: 240px;
    background-color: #8892B0;
    margin: 24px auto;
  }

  .email-sidebar {
    position: fixed;
    top: 90%;
    right: 0;
    -webkit-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-60%);
    margin-right: 32px;
  }

  .email-sidebar a {
    writing-mode: tb-rl;
    text-decoration: none;
    color: #8892B0;
  }

  .email-sidebar a:hover {
    color: #09d3ac;
  }

  .email-sidebar:after {
    content: "";
    display: block;
    width: 1px;
    height: 240px;
    background-color: #8892B0;
    margin: 24px auto;
  }

  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    color: #09d3ac;
    transform: translate(0, -5px);
  }
 }

@media (max-width: 1000px) {
  .mobile-bar {
    display: flex;
    padding-top: 10px;
    /* position:sticky; */
    /* bottom:0; */
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .mobile-bar a {
    font-size: 24px;
    padding: 16px;
  }

  .email-sidebar {
    display: none;
  }
}